{
  "extends": [
    "plugin:storybook/recommended",
    "next",
    "next/core-web-vitals",
    "eslint:recommended"
  ],

  // React available globally
  "globals": {
    "React": "readonly"
  },

  // Pre-fix unused vars
  "rules": {
    "no-unused-vars": [
      1,
      {
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ]
  },

  "overrides": [
    {
      "files": ["*.stories.@(ts|tsx|js|jsx|mjs|cjs)"],
      "rules": {
        // example of overriding a rule
        "storybook/hierarchy-separator": "error"
      }
    }
  ]
}
